@model PokeAPIWeb.Models.ViewModels.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<section class="buscadores">
    <form method="post" action="~/Home/Index">


        <select asp-for="Habilidades" asp-items="@(new SelectList(Model.Habilidades.results, "url","name"))">
            <option>--Habilidades--</option>
        </select>
        <select onchange="this.form.submit()">
            <option>--Poderes--</option>
            <option>--Poderes2--</option>

        </select>
        <div>
            <i class="fas fa-search"></i>
            <input type="text" />
        </div>

        <input type="submit" value="Buscar" class="buscar" />
    </form>
</section>

@if (Model.Pokemones != null)
{
    <section class="resultados">
        @foreach (var pokemon in Model.Pokemones)
        {
            <section class="carta">
                <img />
                <h3>@pokemon.name</h3>
                <p> peso: @pokemon.weight</p>
                <a href="~/Home/VerPokemon/@pokemon.id">Ver mas</a>
            </section>
        }
    </section>
}



