<head>
    <title>Pokemon</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/580decaa2a.js" crossorigin="anonymous"></script>
</head>
<header>
    <h1>Find your Pokemon</h1>
</header>
<body>
    @RenderBody()
</body>
<footer>
    <p>Desarrollo de aplicaciones cliente-servidor Unidad 4. Estefania Pichardo Montes - Esmeralda Lopez Muñoz</p>
</footer>

