<head>
    <title>Pokemon</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/580decaa2a.js" crossorigin="anonymous"></script>
</head>
<header>
    <a href="~/"  class="logo"><img src="~/logo.png" /></a>  
    <a href="~/" class="principal"><h1>Find your Pokemon</h1></a> 
</header>
<body>
    @RenderBody()
</body>
<footer>
    <p>Desarrollo de aplicaciones cliente-servidor Unidad 4. Estefania Pichardo Montes - Esmeralda Lopez Muñoz</p>
</footer>

