<head>
    <title>Pokemon</title>   
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<header>
    <h1>Encuentra tu pokemon favorito</h1>
</header>
<body>
    @RenderBody()
</body>
<footer>
    <p>Desarrollo de aplicaciones cliente-servidor Unidad 4. Estefania Pichardo Montes - Esmeralda Lopez Muñoz</p>
</footer>

