html, body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #ffea00;
    width:100%;
    margin-bottom:10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
    header .principal {
       text-decoration:none;
       display:block;
       width:85%;
    }
    header .principal h1{
        color: #00296b;
        padding: 18px;
        text-align: center;
        vertical-align: central;
        margin:auto;
    }
    header .logo img{
        height:70px;
        padding:5px;
    }
h1{
    padding:0;
    margin:0;
    text-align:center;
}
body{
    min-height:500px;
}
h2{
    margin-left:20px;
}
/*Buscadores, headers de la pagina principal*/
.buscadores{
    width:95%;
    display:flex;
    flex-direction:row-reverse;
    padding:5px;
    margin:auto;
    /*background-color:blue;*/
}
.buscadores div, .buscadores select{
    display:inline;
    margin:10px;
   
}
    .buscadores select {
        text-align: center;
        padding: 6px;
        width: 200px;
        border:1px solid black;
        border-radius:10px;
    }
    .buscadores select option{
        text-align:center;
    }
    .buscadores div {
        padding: 5px;
        width: 200px;
        border: 1px solid black;
        border-radius: 10px;
    }

        .buscadores div input[type=text] {
            border: none;
            background-color:transparent;
        }
    .buscadores input[type=submit] {
        background-color: #0094ff;
        padding: 10px;
        border: 1px solid #0094ff;
        border-radius: 10px;
        width: 100px;
        font-weight:bold;
        color:white;
    }
    .buscadores input[type=reset] {
        background-color: #f6443e;
        padding: 10px;
        border: 1px solid #f6443e;
        border-radius: 10px;
        width: 100px;
        font-weight: bold;
        color: white;
    }
/*Lista de resultados y cartas de informacion de los pokemones*/
.resultados{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:95%;
    height:400px;
    padding:10px;
    margin:auto;
    margin-top:10px;
    justify-content:space-between;
    overflow:auto;
}

.carta{
    padding:10px;
    border:10px solid yellow;
    border-radius:10px;
    margin:10px;
    width:250px;
    height:auto;
}

.carta h3{
    text-align:center;
}
.carta img{
    width:100%;
    margin:auto;
}
main h1 {
    text-align: center;
    color: #00296b;
}
main .titulo {
    color: #00296b;
}
main h2{
    margin-left:10px;
    margin-top:5px;
}
/*Imagen de ver pokemon*/
.imagen{
    float:left;
    margin:20px;
    width:25%;
    padding:5px;
    border:10px solid yellow;
    border-radius:10px;
}
.imagen img{
    width:100%;
    height:auto;
}
/*Datos del pokemon*/
.datos {
    margin: 10px;
    background-color: #0096c7;
    display: flex;
    flex-direction: row;
    width: 60%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 30px;
    justify-content: space-around;
    margin: 30px auto;
}

.datos p{
   color:white;
   font-weight:bold;
}
.datos p span{
    color:black;

}

.datos .datosIzquierda{
    width:40%;
    padding-left:10px;
    float:left;

}

    .datos .datosDerecha {
        width: 40%;      

    }

    div ul{
        color:white;
        /*margin:0;*/
        padding:0;
        font-weight:bold;
    }

        div ul li {
            /* padding-left: 10px;*/
            list-style: none;
            background-color: #00296b;
            border-radius: 20px;
            border: 1px solid #00296b;
            margin: 10px;
            padding: 5px;
            margin-left:-5px;
            text-align:center;
        }

footer {
    background-color: #ffea00;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
    padding: 10px 0px 10px 0px;
    clear: left;
}
